
/* Error text */
.block_flexpagemod_error {
    color: red;
}

/* The default mod display, this is the <ul> element */
.block_flexpagemod_default ul {
    margin: 0;
}

/* The default mod display, no list style */
.block_flexpagemod_default li {
    list-style: none;
}

/* The default mod display, no indenting */
.block_flexpagemod_default .mod-indent {
    margin-left: 0;
}

/* The default mod display, no move edit widgets */
.block_flexpagemod_commands .editing_moveleft,
.block_flexpagemod_commands .editing_moveright,
.block_flexpagemod_commands .editing_move,
.block_flexpagemod_default .editing_moveleft,
.block_flexpagemod_default .editing_moveright,
.block_flexpagemod_default .editing_move {
    display: none;
}

/* Have module edit widgets dimmed */
.editing .block_flexpagemod_default li.activity .commands,
.editing .block_flexpagemod_commands .commands {
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25%)";
    filter: alpha(opacity=25);
    z-index: 2;
}

/* Have module edit widgets show without dim on hover */
.editing .block_flexpagemod_default li:hover.activity .commands,
.editing .block_flexpagemod_commands_wrapper:hover .commands {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100%)";
    filter: alpha(opacity=100);
}

/* Float commands to the right */
.editing .block_flexpagemod_commands .commands {
    float: right;
}

/* For page module */
.block_flexpagemod_page .modified {
    font-size: 0.6em;
}

