
/* Error text */
.block_flexpagemod_error {
    color: red;
}

/* The default mod display, this is the <ul> element */
.block_flexpagemod_default {
    margin: 0;
}

/* The default mod display, no list style */
.block_flexpagemod_default li {
    list-style: none;
}

/* The default mod display, no indenting */
.block_flexpagemod_default .mod-indent {
    margin-left: 0;
}